image: cypress/base:12

stages:
  - build

build:
  stage: build
  script:
    - cd src
    - export GOOGLE_MAPS_API_KEY="AIzaSyAfuHdVrkii8U4UY7Y6tYtDIg-l1jAiIkY"
    - npm install
    - npm run dev &
    - npm run cypress:run