image: cypress/base:12

stages:
  - build
  - deploy

build:
  stage: build
  script: 
    - cd src
    - export GOOGLE_MAPS_API_KEY="AIzaSyAfuHdVrkii8U4UY7Y6tYtDIg-l1jAiIkY"
    - npm install 
    - npm run dev &
    - npm run cypress:run

deploy:
    stage: deploy
    image: bitnami/minideb
    before_script:
        - apt-get update
        - apt-get install -y git ruby ruby-dev nodejs npm curl
        - gem install dpl
    script:
        - dpl --provider=heroku --app=vitagility --api-key=$HEROKU_API_KEY
    only:
        - tonio