image: cypress/base:12

stages:
  - build
  - staging
  - production

build:
  stage: build
  script: 
    - cd src
    - export GOOGLE_MAPS_API_KEY="AIzaSyAfuHdVrkii8U4UY7Y6tYtDIg-l1jAiIkY"
    - npm install 
    - npm run dev &
    - npm run cypress:run

staging:
  type: deploy
  image : ruby:2.2
  script:
  - apt-get update -qy
  - apt-get install -yqq ruby ruby-dev nodejs --silent
  - gem install dpl
  - dpl --provider=heroku --app=vitagility --api-  key=$HEROKU_STAGING_API_KEY
  only:
  - develop

production:
  type: deploy
  image : ruby:2.2
  script:
  - apt-get update -qy
  - apt-get install -yqq ruby ruby-dev nodejs --silent
  - gem install dpl
  - dpl --provider=heroku --app=vitagility --api-  key=$HEROKU_PRODUCTION_API_KEY
  only:
  - master