<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VitAgility</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet"
        />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap"
        rel="stylesheet"
        />
        
        <link rel="stylesheet" href="css/index.css" type="text/css"/>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>

    <body>
        <nav class="navbar sticky-top navbar-light vtmn-border-nav bg-light" role="navigation">
            <div class="navbar-header container">
                <h1 class="vtmn-typo_display-1"><span class="vtmn-text-brand-digital">Vit</span>Agility</h1>
            </div>
        </nav>

        <main class="container pt-5" role="main">

            <p class="p-4 text-center vtmn-typo_display-2">Du sport partout autour de vous !</p>
               <p class="pb-3 text-center vtmn-typo_title-3"> <img width="25" class="d-inline" src="assets/icons/standard/notif_information.svg"> Avec <span class="vtmn-typo_display-2"><span class="vtmn-text-brand-digital">Vit</span>Agility</span> retrouvez en un clic vos lieux de <span class="vtmn-bg-brand-digital vtmn-text-white vtmn-font-bold vtmn-uppercase">pratiques sportives</span>.</p>
            <form id="searchForm">
                <div class="input-group mb-3">
                    <span class="input-group-text pointer-cursor" id="activeGeo"><img src="assets/icons/standard/geolocalization.svg"></span>
                    <input id="address" type="text" class="form-control" placeholder="Adresse">
                    <select class="form-select" id="radius">
                        <option selected>Rayon...</option>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                    </select>
                    <button type="submit" id="search" class="vtmn-btn vtmn-btn_variant--primary vtmn-btn_size--medium">Rechercher</button>    
                </div>
            </form>

            <div class="card bg-light mb-3 advancedSearch">
            <div class="card-header advancedTitle">Recherche avancée</div>
            <div class="card-body">
                <form>
                    
                        <div class="input-group col">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineCheckbox1"> <input class="form-check-input" type="checkbox" id="pleinAirCheck" value="option1" checked> Plein air</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="couvertCheck" value="option2" checked>
                            <label class="form-check-label" for="inlineCheckbox2"> Couvert </label>
                        </div>
                        <select class="form-select col" id="selectSports" >
                            <option value="-1" selected>Sports...</option>
                        </select>
                        
                    </div>
                    </form>
            </div>
            </div>

            <div id="loader" class="vh-100 text-center align-middle">
                <p class="vtmn-typo_title-5" id="loadingText"></p>
                <div class="spinner-border vtmn-text-brand-digital" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-8 mw-100 d-sm-block">
                    <div id="infoCard">
                    </div>
                    <div class="h-50 text-center">            
                        <div class="mapouter">
                            <div class="gmap_canvas pt-3">
                                <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=`def.lat , def.long`%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                
                                <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="list-group col-4 text-center align-middle text-center" id="mainList">
                    
                </div>

            </div>



        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
        <script src="js/script.js"></script>
        
    </body>
    
</html>