/* NAVBAR CSS */

.navbar-header {
    float: left;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

#headTitle {
    color: green;
}

.advancedTitle {
    text-align: center;
}

#selectSports {
    margin-right: 10px;
}

.bg-free {
    background-color: #e2eea0 !important;
    color: black;
}
